<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ronbrosh.rocketlauncher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_rocket"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".splash.view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rocketlauncher.rocketlist.view.RocketListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/TransparentBackground"
            android:name=".rocketlauncher.rocketdetails.view.RocketDetailsActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
